
main{
    
  display: flex;
  justify-content: center;
  
  

}

form{    
    display: grid;
    width: 30rem;  
  
    padding: 2rem;
   
    border-radius: 8px;
    
    justify-items: center;
     

}   
  

img{

    height:5rem;
    width: 5rem;
   
}
 
.lg-span-register{

        margin-bottom: 12px;
}


.error {
    color: red;
    font-size: 0.9em;
    margin-top: -10px;
    margin-bottom: 10px;
  }



.lg-container-terminos{

    display: flex;
    gap: 7rem;
  
}
   
.lg-link{

    text-decoration: none;
    color: aliceblue;
   

}

.lg-btn-register{

        width: 26rem;

}