
main{
    
  display: flex;
  justify-content: center;
  margin-bottom: 5rem;
  

}

form{    
    display: grid;
    width: 30rem;
    margin-left: 17rem;
    background: linear-gradient(rgba(0, 0, 0, 0.85), rgba(0, 0, 0, 0.85));
    padding: 2rem;
    box-shadow: 0px 0px 20px  black; 
    border-radius: 8px;
    
    align-items: center;
     

}   
  
span{
  
    display: flex; 
    justify-content: center;
    margin-bottom: 1rem;
}

img{

    height:5rem;
    width: 5rem;
   
}

button{
    width: 2rem;


}