
main{

    display: flex;
    justify-content: center;

}

form{    
    display: grid;
    width: 30rem;  
 
    padding: 2rem;
 
    border-radius: 8px;
    
    justify-items: center;
     

}   
  